<!--<!DOCTYPE html>-->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/table/bootstrap-table.min.css}">
    <script type="text/javascript" th:src="@{/plugins/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery-namespace.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/echarts3/echarts.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/vue.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/messages_zh.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/bootstrap/table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/bootstrap/table/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/stomp.min.js}"></script>
    <script type="text/javascript" th:src="@{/common.js}"></script>
</head>
<body>
<script type="text/javascript">
    $(function () {
//        console.info(123);
    })
</script>
<!--<header th:replace="fragments/header :: header"></header>-->
<section layout:fragment="content">
</section>
</body>


</html>
